
.bg-color{
    background: rgba(116, 2, 2, 0.689) !important;
}
.bg-color:hover{
    background: rgb(124, 32, 32) !important;
}
.login-container {
    position: relative;
    max-width: 600px;
    margin: 4rem auto;
    height: 610px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(122, 18, 18, 0.133);
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}


.login-title {
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: brown
}

.login-form {
    text-align: left;
    margin-top: 30px;
}

.login-container label,
.login-container input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.login-container button
 {
    display: block;
    width: 60%;
    padding: 7px 0;
    margin: auto;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.login-container label {
    margin-bottom: 4px;
    color: gray;
    margin: 15px 0 5px 5px;
    
}

.login-container input::placeholder {
    color: gray;
}

.login-container input {
    background: #ecf0f3;
    margin: 15px 0 0 0;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.login-container button {
    color: white;
    margin-top: 20px;
    background: #1da1f2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.login-container button:hover {
    box-shadow: none;
}


.error-message{
    font-size: 12px;
    color: red;
    margin:10px;
}
.error-message::before{
    content: "❌ ";
}