
.box{
    width: 31rem;
    height: 31rem;
    margin: .5rem ;
    position: relative;
    overflow: hidden;
}

.box img{
   width: 80%;
   height: 100%;
   object-fit: cover;
}
.box .info{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%) scale(0);
   transform-origin: bottom;
   width: 80%;
   height: 100%;
   background-color:rgba(0,0,0,0.7) ;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.box:hover .info{
    transform: translate(-50%,-50%) scale(1);
}
.box .info h3{
   font-size: 2rem;
   color: rgb(141, 6, 6);
   margin-bottom: 1.2rem;
}
.box .info p{
   font-size: 1.1rem;
   color: white;
   margin-bottom: 1.2rem;
   padding: 0 1rem;
   margin-bottom: 1.2rem;
}
.box .info .purchase-btn{
   outline: none;
   background-color: transparent;
   color: rgb(141, 6, 6);
   border: 5px solid rgb(133, 66, 66);
   border-radius: 10px;
   font-size: 20px;
} 