.banner{
    background-image: url(../../../images/banner/banner-3.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.472);
    background-blend-mode: overlay;
}
.get-started:hover{
    background-color: rgba(255, 255, 255, 0.185);

}